

<nav class="navbar bg-black">
    <a style="font-size: 32px;color: aliceblue;" href="/">LOGO</a>
    <div class="container-fluid">
        <a target="_blank" style="font-size: 16px;color: aliceblue;" href="http://127.0.0.1:8000/admin/">Admin</a> 
        <a class="navbar-brand"></a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
